.progress-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress-label {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.progress-label:hover {
  border-color: #646cff;
  color: unset;
}

.upload-input {
  width: 100%;
}

.upload-input:not(:disabled) {
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  appearance: none;
  position: absolute;
  bottom: 0;
  height: 2px;
}

.progress-bar::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 2px;
}

.progress-bar::-webkit-progress-value {
  background-color: #646cff;
  border-radius: 2px;
}

.file-row {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  transition: border-color 0.25s;
}

.file-row:last-of-type {
  border-radius: 0 0 8px 8px;
}

.file-row + .file-row {
  border-top: 1px solid #1a1a1a;
}

.file-row:first-of-type {
  border-radius: 8px 8px 0 0;
}

.file-row:first-of-type:last-of-type {
  border-radius: 8px ;
}

.upload-list .file-row {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.upload-list .file-row .inner {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 1.2em;
}
