.image-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    overflow: hidden;
}

.image-page .image {
    object-fit: contain;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.image-page .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}